@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar Styling */
*::-webkit-scrollbar {
  width: 4px;
  background-color: #ffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #d8d6d6;
  border-radius: 20px;
}

@layer utilities {
  .animate-scaleFade {
    @apply transition ease-out duration-200 transform scale-95 opacity-0;
    animation: fadeInScale 0.15s forwards;
  }

  @keyframes fadeInScale {
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.liner {
  background: linear-gradient(to right, #6574e0, #273389);
}

@keyframes slide-in {
  from {
    transform: translateX(120%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out forwards;
}

.backgroundcolor {
  background-color: rgba(245, 245, 245, 0.637);
}

.form-input {
  @apply w-full bg-transparent border-b border-gray-400 py-2 text-xs sm:text-sm outline-none focus:border-blue-500;
}

.h3-class-css{
  @apply font-bold text-primary text-2xl sm:text-2xl lg:text-[28px] mb-8;
}